body {
    background-color: #a1f8f4;
    color: #000000;
}
  
  /** HEADER **/
#header-nav {
    background-color: #005994;
    border-radius: 0;
    border: 0;
} 
  
.navbar-brand {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 0px 10px 0px;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #fffff0;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin: 0px 10px;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 0px;
    margin-bottom: 0;
    background-color: #012944;
}
#nav-list a {
    color: #fffff0;
}
#nav-list a:hover {
    background: #E7E7E7;
    color: #000000;
}
#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #fffff0;
}
.navbar-header button.navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
}
  /* END HEADER */

section .container{
    background-color: #005994;
    color: #fffff0;
    padding: 15px;
    margin: 15px 20px 15px 20px;
}
h3{
    margin: 0px 0px 10px;
}